.articles {
  background-color: var(--fifth-color);
}
.articles .container {
  padding: 5rem 0;
}
.articles .container .heading {
  width: fit-content;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  font-size: 2.5rem;
  color: var(--main-color);
}
.articles .container .heading::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--third-color);
  bottom: -10px;
}
.articles img {
  width: 292px;
  height: 220px;
}
@media(max-width: 768px) {
  .articles img {
    margin-top: 40px;
  }
}
.articles a {
  text-decoration: none;
}
.articles a button {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 8px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.articles a button:hover {
  background-color: var(--main-color);
  color: white;
}