.about {
  background-color: #f6f6f6;
  padding: 100px 0;
}
.about .heading {
  color: var(--main-color);
  text-align: center;
  font-size: 40px;
  padding: 20px 0;
  position: relative;
  display: inline-block;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.about .heading::before {
  position: absolute;
  content: "";
  width: 100%;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: var(--third-color);
}
.about img {
  width: 250px;
  max-width: 100%;
  margin-top: 20px;
}
.imageOne,
.imageTwo,
.imageThree,
.about .info {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.imageOne,
.about .info {
  border-top-left-radius: 50px;
}
.imageTwo {
  border-top-right-radius: 50px;
}
.about .info {
  position: relative;
  border: 3px solid #565acf;
  position: relative;
  font-weight: bold;
  background-color: #e6e7ff;
  width: fit-content;
  padding: 20px;
}
.about .info::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #fd7e14;
  top: -70px;
  right: -5%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@media(max-width: 990px) {
  .about .info::before {
    display: none;
  }
}
.about .info h2 {
  font-size: 50px;
  font-weight: bold;
  color: #565acf;
}
.about .info h4 {
  color: #1f2278;
  font-size: 40px;
}
.about .headingInfo {
  margin-top: 15px;
  font-size: 40px;
  color: var(--main-color);
  font-weight: bold;
}
.about .paragraphInfo {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 20px;
  color: #5b5353;
}
.about svg {
  font-size: 60px;
  background-color: #cef5fc;
  margin-right: 20px;
  padding: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.about .information {
  display: flex;
  gap: 10px;
  border: 2px solid #fd7e14;
  padding: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  outline: 1px solid #f6f6f6;
}
.containerInfo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}
.containerInfo div {
  border: 2px solid #fd7e14;
  padding: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@media(max-width: 767px) {
  .about .info {
    margin-top: 30px;
  }
}