.journey {
  background-color: var(--fourth-color);
}
.journey .container {
  padding: 5rem 0;
}

.journey .heading {
  font-size: 3.125rem;
  font-weight: bold;
  color: var(--main-color);
  width: fit-content;
  position: relative;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}
.journey .heading::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--third-color);
  bottom: -15px;
  left: 0;
}
.journey .info {
  position: relative;
  border: 2px solid var(--main-color);
  padding: 0;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  height: 450px;
}
.journey img {
  width: 500px;
  height: 300px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.journey .info .iamgeOne {
  position: relative;
  width: 100%;
  height: 100% !important;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
}

.journey .info .head {
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 40px;
  color: var(--second-color);
  line-height: 1.5;
}

.journey h3 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--main-color);
}
.childTwo {
  width: 300px !important;
  height: 400px !important;
}
@media (max-width: 768px) {
  .journey .info {
    height: 350px;
  }
  .journey .info .iamgeOne {
    height: 100% !important;
    width: 100% !important;
  }
  .boxImage {
    margin-top: 2.5rem;
  }
  .journey .info .head {
    font-size: 30px;
  }
  .childTwo {
    width: 250px !important;
    height: 250px !important;
  }
  .journey h3 {
    font-size: 1.5625rem;
  }
}
.iamgeOne {
  height: 400px !important;
}

@media(max-width: 1025px) {
  .iamgeOne {
    width: 300px !important;
    height: 400px !important;
  }
}
@media(max-width: 768px) {
  .iamgeOne {
    height: 300px !important;
  }
}
@media(max-width: 370px) {
  .journey img  {
    width: 200px;
    height: 300px;
  }
}
.journey h4 {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--main-color);
}
.dateInfo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.dateInfo .date {
  font-size: 18px;
  font-weight: bold;
}
.dateInfo .date {
  padding: 70px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 15px solid var(--third-color);
  border-left-color: #d9d9d9;
}

