.profile {
  background-color: #f6f6f6;
  padding: 4.375rem 0;
}
.profile .headingInfo {
  text-align: center;
}
.profile .container {
  display: flex;
  justify-content: space-between;
}
@media(max-width: 768px) {
  .profile .container {
    flex-direction: column;
    gap: 20px;
  }
}
.profile .container .boxs a {
  display: block;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  padding: 30px;
  background-color: #F4F0F0;
  margin-top: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.profile .container h5 {
  color: #282625;
}
.profile .container svg {
  color: var(--main-color);
  width: 30px;
  height: 28px;
}

.profile .container .headingInfo {
  color: #262626;
  font-size: 30px;
  font-weight: 400;
}